<!doctype html>
<html>
<body>
    <p>你好</p>
    <p>欢迎{{$name}}加入创团</p>
    <p>你获得了奖品:</p>
    <p>
        <!-- 调用子模板 -->
        {{# $detail "s.tmpl"}}
        <!-- 以:开头是可以是表达式 -->
        {{: $array = explode(" ", $prices)}}
        <!-- 友好的输出 -->
        <pre>{{2 > 1}}</pre>
        <pre>{{$array}}</pre>
        <!-- assert -->
        <pre>{{@ 2 > 1}}</pre>
        <!-- dump -->
        <pre>{{? $prices}}</pre>
        <!-- 格式化输出 -->
        <pre>{{% "%2d%2d" 1 2}}</pre>
        <!-- 遍历array -->
        {{each $array}}
            <!-- 直接替换成对应内容 -->
            <li>{{$value}}</li>
        <!-- 结束符 -->
        {{end}}
        <!-- 定义变量 -->
        {{: $a = 0}}
        {{if $a > 5}}
            <p>{{233}}</p>
        {{else}}
            <p>{{255}}</p>
        {{end}}
    </p>
    <!-- 定义函数, ":"结尾 表示这是一个block -->
    {{function format():}}
        {{: return 'Copyright ' . date("Y")}}
    {{endf}}
    <!-- 调用函数 -->
    <footer>{{format()}}</footer>
</body>
</html>