<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
    <tr>
        <td align="center">
            <a href="{{$link}}" class="f-fallback button {{$type == null ? "" : "button--" . $type}}" target="_blank">{{$text}}</a>
        </td>
    </tr>
</table>
