<table class="body-sub" role="presentation">
    <tr>
        <td>
            <p class="sub">{{$body}}</p>
            <p class="sub"><a href="{{$link}}">{{$text}}</a></p>
        </td>
    </tr>
</table>
